#exampleModal{
  background: rgba(255, 255, 255, 0.4);
}

.modal-open{
  background: rgba(58, 117, 196, 0.4);
}

.modal-header{
  background-color: rgb(43, 172, 153)
}

.titulo{
  width: 96%;
}

#contador-titulo{
  margin-top: -29px;
  float: right;
}

/*.duracion{
  float: right;
  margin-left: 64px;
}*/

.ubicacion{
  margin: 14px 0;
}

#map {
  height: 400px;
  width: 100%;
}

.subirProducto{
  color: #fff;
}

a:hover{
  color: #fff;
  text-decoration: none;
}
