/*@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";*/
*{
  font-family: 'Quicksand', sans-serif !important;
  padding: 0;
  margin: 0;
}

.navbar{
  background-color: rgb(43, 172, 153)
}

.texto-blanco{
  color: rgb(250, 250, 250)
}

.nav-pills{
  margin-right: 15px;
}

#btnIngresar{
  margin-right: 15px;
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
  font-size:12px
}

#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}

#login-dp .social-buttons{
  margin:12px 0
}

#login-dp .social-buttons a{
  width: 49%;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb{
  color: #fff;
  background-color:#3b5998;
}

.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.mt40 {
  margin-top: 40px;
}

.panel {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 0 !important;
}

.panel-default {
 border-color: #ebedef !important;
}

.panel .panel-body {
  position: relative;
  padding: 0 !important;
  overflow: hidden;
  height: auto;
}

.panel .panel-body a {
 overflow: hidden;
}

.panel .panel-body a img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.panel .panel-body a.zoom:hover img {
 transform: scale(1.3);
 -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
   -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
 }

.panel .panel-body a.zoom span.overlay {
position: absolute;
 top: 0;
 left: 0;
 visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}

.panel .panel-body a.zoom:hover span.overlay {
display: block;
visibility: visible;
 opacity: 0.55;
  -moz-opacity: 0.55;
   -webkit-opacity: 0.55;
   filter: alpha(opacity=65);
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";

}
.panel .panel-body a.zoom:hover span.overlay i {
position: absolute;
top: 45%;
 left: 0%;
  width: 100%;
   font-size: 2.25em;
   color: #fff !important;
    text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

.panel .panel-footer {
padding: 8px !important;
 background-color: #f9f9f9 !important;
  border-bottom-right-radius: 0 !important;
   border-bottom-left-radius: 0 !important;
 }

.panel .panel-footer h4 {
 display: inline;
 font: 400 normal 1.125em "Roboto",Arial,Verdana,sans-serif;
  color: #34495e margin: 0 !important;
  padding: 0 !important;
 }

.panel .panel-footer i.glyphicon {
 display: inline;
  font-size: 1.125em;
  cursor: pointer;
  }

.panel .panel-footer i.glyphicon-thumbs-up {
 color: #1abc9c;
  }

.panel .panel-footer i.glyphicon-thumbs-down {
color: #e74c3c;
 padding-left: 5px;
 }
.panel .panel-footer div {
 width: 15px;
  display: inline;
  font: 300 normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #34495e;
   text-align: center;
    background-color: transparent !important;
     border: none !important;
 }

.modal-title {
 font: 400 normal 1.625em "Roboto",Arial,Verdana,sans-serif;
 }
.modal-footer {
 font: 400 normal 1.125em "Roboto",Arial,Verdana,sans-serif;
  }
 .center {
    margin-top:50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
  padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}

/*estilos*/

/*body{
  background-color: rgb(227, 227, 227)
}*/

.subastar{
  padding: 5px;
  border: 1px solid #cac4c4;
  /*margin: 9px;
  height: 33px;*/
}

.navbar-inverse .navbar-collapse{
  border: none;
}

.navbar-inverse{
  border: none;
}

.navbar-inverse .navbar-toggle{
  border: none;
}

.navbar-inverse .navbar-toggle:hover{
  background-color: rgb(43, 172, 153);
  border: none;
}

@media screen and (max-width: 768px) {
  .side-collapse-container{
    width:100%;
    position:relative;
    left:0;
    transition:left .4s;
  }

  .navbar-inverse .navbar-toggle{
    border: none;
    background-color: rgb(43, 172, 153);
    
  }

  .navbar-inverse .navbar-toggle:hover{
    background-color: rgb(43, 172, 153);
    border: none;
  }


  .navbar-inverse{
    background: none;
  }

  .side-collapse-container.out{
    left:200px;
  }

  .side-collapse {
    top:50px;
    bottom:0;
    left:0;
    width:200px;
    position:fixed;
    overflow:hidden;
    transition:width .4s;
  }

  .side-collapse.in {
    width:0;
  }

  .nav-pills {
    display: inline-grid;
    margin-left: 11px;
  }
}

.columns {
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
  margin: 0 2px 15px;
  padding: 15px;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #FEFEFE;
  background-image: linear-gradient(45deg, #FFF, #F9F9F9);
}
